* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --primary-color: #141414;
}

a {
    text-decoration: none;
}

/* Header */
header {
    padding: 12px;
    background-color: hwb(0 100% 0%);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, .1);
}
.menus li a {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 18px;
}
.get-btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    position: relative;
    z-index: 0;
    overflow: hidden;
    border: none;
    font-size: 18px;
    background: rgb(251,187,28);
    background: linear-gradient(90deg, rgba(251,187,28,0.8826550395548844) 0%, rgba(243,204,76,0.7762124625240722) 61%);
    font-weight: 500;
    transition: all 0.4s ease-in-out;
}
.get-btn::after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0;
    height: 106%;
    background: rgb(15,18,45);
    background: linear-gradient(90deg, rgba(15,18,45,1) 0%, rgba(63,63,70,1) 61%);
    transform: skew(45deg);
    transition: all 0.4s ease-in-out;
    z-index: -1;
    width: 0;
    left: -15%;
}
.get-btn:hover {
    color: white;
}
.get-btn:hover:after {
    width: 105%;
    transform: skew(0deg);
    left: 0px;
}
.menu-btn {
    border: none;
    font-size: 18px;
    background: rgb(251,187,28);
    background: linear-gradient(90deg, rgba(251,187,28,0.8826550395548844) 0%, rgba(243,204,76,0.7762124625240722) 61%);
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
}

.offcanvas.offcanvas-start {
    width: 320px;
    background-color: #212529;
    color: white;
    padding: 15px;
}
.btn-close {
    color: white;
    font-size: 22px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #656464;
    display: flex;
    align-items: center;
    justify-content: center;
}
.off-menus li a {
    color: white;
    font-size: 18px;
}
.off-menus li {
    padding: 12px; 
}

.active {
    color: #656464 !important;
}

/* main-banner */
.main-banner,.main-banner2 {
    /* height: calc(100vh - 79px); */
    width: 100%;
    height: 100vh;
    background-image: url(../images/main-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    position: relative;
    /* z-index: -1; */
}
.main-banner2 {
    background-image: url(../images/main-banner2.jpg);
}
.main-banner::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #191919d4;
    top: 0;
    z-index: 0;
}
.main-heading {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    color: white;
    padding-left: 15px;
}
.main-heading h1 {
    font-size: 100px;
    letter-spacing: 3px;
    word-spacing: 7px;
}
.main-heading p {
    font-size: 20px;
    color: #A9A4A1;
    margin-left: 10px;
}
.explore-btn {
    border: none;
    padding: 16px 32px;
    font-weight: 600;
    border-radius: 5px;
    font-size: 18px;
    transition: all 0.4s ease-in-out;
    background-color: #c4c4c4;
    color: black;
}
.explore-btn:hover {
    transform: translateY(-2px);
}

/* about-main */
.about-main {
    /* margin-top: 35px; */
    width: 100%;
    background-image: url(../images/about-photo.jpg);
    background-size: cover;
    position: relative;
    margin-bottom: 150px;
}
.about-main.service-main {
    background-image: url(../images/service-photo.jpg);
}
.about-main.contact-main {
    background-image: url(../images/contact-photo.jpg);
}
.about-main::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #242424b7;
    top: 0;
    z-index: 0;
}
.about-main.service-main::after {
    background-color: #242424d4;
}
.about-main.contact-main::after {
    background-color: #242424d1;
}
.about-heading {
    height: 670px;
}
.about-banner h2 {
    font-size: 4.375rem;
    line-height: 4.688rem;
    color: #ffc700;
    font-weight: 600;
}
.about-banner p {
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}

/* Contact-page */
.contact-details {
    /* margin: 140px 0; */
}
.contact-text span {
    font-size: 18px;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
}
.contact-text span::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 150px;
    height: 3px;
    background-color: #ffc700;
}
.contact-text.form-text span {
    position: relative;
}
.contact-text.form-text span::after {
    content: '';
    position: absolute;
    width: 200px;
}
.contact-text h3 {
    font-size: 45px;
    margin-top: 0px;
    margin-top: 10px;
    font-weight: 700;
}
.contact-text p {
    font-size: 18px;
    color: #707070;
}
.atal-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
}
.address-box {
    padding: 40px 30px;
}
.map-link {
    color: var(--primary-color);
    font-weight: 600;
    position: relative;
}
.map-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #141414;
    left: 0;
    bottom: -3px;
}
.add {
    margin-bottom: 10px;
    margin-top: 14px;
}
.card {
    box-shadow: 0 20px 60px rgba(0, 0, 0, .08);
    border-radius: 6px;
    overflow: hidden;
    border: none;
}
.iframe {
    padding: 0 20px;
    margin-top: 150px;
}
.map iframe{
    width: 100%;
    height: 600px;
}

.form-box {
    margin-top: -160px;
    margin-bottom: 100px;
}
.detail-form {
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 75px;
}
.input-box {
    padding: 0px 25px;
    border: 1px solid #e4e4e4;
    color: #707070;
    border-radius: 5px;
}
.input-box span {
    font-size: 18px;
}
.input-box input {
    color: #707070;
    padding: 14px 5px;
    border: none;
    outline: 0;
    background-color: transparent;
}
.input-box.textarea input{
    width: calc(100% - 25px);
} 
.detail-form p {
    color: #707070;
}
.get-btn.send-btn {
    margin-left: auto;
    padding: 14px 30px; 
    background: rgb(15,18,45);
    background: linear-gradient(90deg, rgba(15,18,45,1) 0%, rgba(63,63,70,1) 61%);
    color: white;
    position: relative;
}
.get-btn.get-btn.send-btn::after {
    content: '';
    display: block;
    position: absolute;
    background: rgb(251,187,28);
    background: linear-gradient(90deg, rgba(251,187,28,0.8826550395548844) 0%, rgba(243,204,76,0.7762124625240722) 61%);
}
.get-btn.get-btn.send-btn:hover {
    color: black;
}
.get-btn.get-btn.send-btn:hover:after {
    width: 105%;
    transform: skew(0deg);
    left: 0px;
}